@function pxToVw($px){
    @return ($px/375)*100vw
}

.playerPage {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.8);
    * {
        box-sizing: border-box;
    }
    button {
        outline: 0;
        border: 0;
        background-color: transparent;
    }
    //头部区域
    .headArea {
        width: 100vw;
        height: pxToVw(40);
        display: flex;
        //退出全屏播放按钮
        .closeFullPlayerBtn {
            background-color: red;
            height: 100%;
            width: 13.3333vw;
        }
        //歌曲信息
        .songInfo {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 73.3333vw;
            padding: pxToVw(5) 0;
            //歌曲名字
            .songName {
                color: white;
                font-size: pxToVw(16);
                width: 100%;
                text-align: center;
            }
            //作者名字
            .songAuthor {
                color: rgb(204, 26, 26);
                font-size: pxToVw(14);
                width: 100%;
                text-align: center;
            }
        }
        .fenxiangBtn {
            height: 100%;
            width: 13.3333vw;
            background-color: red;
        }
    }
    //内容区域
    .content {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0 pxToVw(12.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        //歌曲的图片
        .songImgArea {
            margin-top: pxToVw(50);
            height: pxToVw(280);
            width: pxToVw(280);
            max-width: 1000px;
            max-height: 1000px;
            border-radius: 50%;
            overflow: hidden;
            .songImg {
                width: 100%;
                height: 100%;
            }
        }
        .closeFullPlayerBtn {
            height: 30px;
        }
    
        .playAndPuaseBtn {
            height: 30px;
        }
        //控制按钮区域
        .controllerArea {
            position: absolute;
            bottom: pxToVw(20);
            width: 100%;
            padding: 0 pxToVw(12.5);
            & > .topBtn {
                padding: 0 pxToVw(40);
                display: flex;
                justify-content: space-between;
                button {
                    color: white;
                    height: pxToVw(24);
                    width: pxToVw(24);
                    span {
                        font-size: pxToVw(24);
                    }
                }
            }
            //进度条区域
            & > .progressBarArea {
                margin-top: pxToVw(10);
                padding: 0 pxToVw(5);
                display: flex;
                justify-content: space-between;
                align-items: center;
                .nowTime {
                    color: white;
                    font-size: pxToVw(12);
                }
                .progressBox {
                    width: pxToVw(260);
                    height: 2px;
                    background-color: rgb(204, 201, 201);
                    .progressBar {
                        width: 10%;
                        height: 100%;
                        background-color: red;
                    }
                }
                .totalTime {
                    color: white;
                    font-size: pxToVw(12);
                }
            }
            //底部按钮区域
            & > .bottomBtn {
                margin-top: pxToVw(10);
                padding: 0 pxToVw(35);
                display: flex;
                justify-content: space-between;
                align-items: center;
                button {
                    width: pxToVw(24);
                    height: pxToVw(24);
                    span {
                        font-size: pxToVw(24);
                        color: white;
                    }
                }
                .playBtn {
                    width: pxToVw(48);
                    height: pxToVw(48);
                    border-radius: 50%;
                    border: pxToVw(2.5) solid #ffffff;
                    span {
                        font-size: pxToVw(28);
                    }
                }
            }
        }
    }
}

